NEXT_PUBLIC_SUPABASE_URL=add_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=add_key
NEXT_PUBLIC_SITE_URL=http://localhost:3000
ICPEP_SENDER_EMAIL=you@gmail.com
ICPEP_SENDER_PASSWORD=your_app_password
ICPEP_SENDER_NAME=ICPEP SE - PUP Manila